/lab03/txt_sentoken
/lab03/poldata.README.2.0

/lab04/.vector_cache
/lab04/assets
/lab04/datasets

/lab05/datasets
/lab05/*.pt

/cw/distilBERT/distilBERT-finetuned-NER/*
/cw/distilBERT/distilbert_model/*

/cw/spacy/output/*
/cw/spacy/spacy_vocab/*

/cw/report/exp_1/*
/cw/report/exp_2/*
/cw/report/exp_3/*
/cw/report/exp_4/*
/cw/report/output/*
/cw/report/spacy_vocab/*

/cw/bert/bert/*

cw_group6/diagrams/*.excalidraw
cw_group6/tasks/readme.md
cw_group6/app/models/spacy/model-best
cw_group6/app/models/distilBERT/model-best
cw_group6/app/metrics/logs/log_file.log
cw_group6/app/unit_tests/figs/*
cw_group6/app/static/figs/performance
*__pycache__