/lab03/txt_sentoken
/lab03/poldata.README.2.0

/lab04/.vector_cache
/lab04/assets
/lab04/datasets

/lab05/datasets
/lab05/*.pt

/cw/distilBERT/distilBERT-finetuned-NER/*
/cw/distilBERT/distilbert_model/*

/cw/spacy/output/*
/cw/spacy/spacy_vocab/*

/cw/report/exp_1/*
/cw/report/exp_2/*
/cw/report/exp_3/*
/cw/report/exp_4/*
/cw/report/output/*
/cw/report/spacy_vocab/*

/cw/bert/bert/*