body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: #1A1423;
    color: #EACDC2;
}

.btn{
    background: #B75D69;
    color: #EACDC2;
    border: none;
    padding: 5px 10px;
    cursor: pointer;
    text-transform: uppercase;
    transition: all .1s;
}

.btn:hover{
    background: #372549;
}

.introduction{
    display: flex;
    max-width: 960px;
    margin: auto;
    .intro_container{
        padding: 25px;    
    }
}

.title-headings{
    text-align: center;
    h1{
        text-decoration: underline;
    }
    h2{
        text-transform: uppercase;
        font-style: normal;
        font-weight: 100;
        font-size: 1em;
    }
}

.tabs{
    padding: 10px;
}

.tab-content-container{
    padding: 10px;
    text-align: center;
}

.input_form{
    display: flex;
    flex-direction: column;
    textarea {
        min-width: 400px;
    }
}
